* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

body {
  position: relative;
}

.fontsizeLarge {
  font-size: 1.5em;
}

header {
  position: sticky;
  top: 0;
  background-color: #fff;
  height: 100px;
}

header ul {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

li {
  list-style: none;
  display: flex;
  align-items: center;
}

header li img {
  height: 40px;
  width: 40px;
}

header li .cityName {
  vertical-align: top;
  font-size: 40px;
  font-family: auto;
}

.fontsizeChanger,
.darkmodeChanger {
  font-family: auto;
  cursor: pointer;
  user-select: none;
  background-color: #444;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
}

.fontsizeChanger {
  margin-right: 20px;
}

#addFzc {
  font-family: auto;
  font-weight: bold;
}

#addFzc::before {
  content: ":";
  margin: 0 4px;
}

.darkmodeChanger {}

nav {
  width: 840px;
  margin: 0 auto;
  position: relative;
  height: 50px;
}

nav ul {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 10px 20px;
  list-style: none;
  justify-content: space-evenly;
}

/* nav ul li{
  border : 1px solid #eee;
  border-width: 0 1px;
  padding: 0 60px;
} */

nav ul li:not(:last-child):after {
  content: "";
  border-right: 1px solid #eee;
  margin-left: 60px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.hamburgerBtn {
  top: 0;
  position: absolute;
  width: 50px;
  cursor: pointer;
  padding: 10px;
  background-color: #f5f5f5;
  height: 50px;
  text-align: center;
  right: 0;
  display: none;
  border-radius: 10px;
}

/* .hamburgerBtn span{
  display: inline-block;
  position: absolute;
  border: #000 solid 3px;
  width: 60%;
  top: 24px;
  transition: all 1s;
}

.hamburgerBtn span::before, .hamburgerBtn span::after{
  display: inline-block;
  content: "";  
  border: #000 solid 3px;
  position: absolute;
  left: -3px;
}

.hamburgerBtn span::before{
  position: absolute;
  top: -15px;
  width: 100%;
}

.hamburgerBtn span::after{
  position: absolute;
  bottom: -15px;
  width: 100%;
}

.active span{
  height: 46px;
  width: 46px;
  border-radius: 50%;
  transform: translate(-8px,-21px);
} */

.hamburgerBtn span {
  display: block;
  border: #000 solid 3px;
  width: 25px;
  height: 1px;
  position: absolute;
  top: calc(50% - 1px);
  left: calc(50% - 12.5px);
  transition: all 1s;
}

.hamburgerBtn span:first-child {
  position: absolute;
  top: calc(33% - 1px);
}

.hamburgerBtn span:last-child {
  position: absolute;
  top: calc(66% - 1px);
}

.active span:nth-child(2) {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translate(-3.5px, -17.5px);
}

.active span:first-child {
  transform: translate(4px, 7.5px) rotate(45deg);
  background-color: #000;
}

.active span:last-child {
  transform: translate(4px, -7.5px) rotate(-45deg);
  background-color: #000;
}

.topIMG {
  background-image: url("images/topIMG.jpg");
  height: auto;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 100px 0;
  color: white;
}

.topIMG span {
  font-size: 55px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  width: 730px;
  margin:30px auto;
  padding: 35px;
  background-color: rgba(144, 238, 144, .2);
  border-radius: 34px;
}

.info h2 {
  margin-bottom: 20px;
}

.info li {
  margin-bottom: 10px;
  list-style: none;
  color: #555;
}

.map {
  width: 730px;
  margin: 0 auto;
}

.gmap {
  text-align: center;
  height: 0;
  position: relative;
  padding-top: 56.25%;
}

.gmap iframe {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

:root {
  --bg: #fff;
  --text: #000;
}

main[data-theme="dark"] {
  --bg: #121212;
  --text: #eee;
}

main {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

footer {
  width: 100%;
  padding: 20px 0;
  background-color: #f0f0f0;
  color: #777;
  margin-top: 40px;
  color: #000;
}

footer div {
  width: fit-content;
  margin: 0 auto;
}

footer p {
  font-family: auto;
}


@media (max-width: 850px) {
  header ul{
    padding-right: 70px;
  }
  nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav ul li:not(:last-child):after {
    margin-left: 0px;
  }

  .hamburgerBtn {
    display: block;
    left:-50px;
    top: 15px;
  }

  .topIMG span {
    font-size: 30px;
  }

  .info {
    flex-direction: column;
    width: 90%;
    padding: 35px 0;
  }

  .info>div {
    margin: 0 auto 40px;
  }

  .info h2 {
    margin: 0;
  }

  .map {
    width: 90%;
  }
}